*{
    padding: 0;
    margin: 0;
}
#countries-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    /* gap: 5px; */
}

/* javascript custom css */
.country-design {
    color: rgb(15, 113, 158);
    border: 2px solid rgb(59, 25, 102);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
  }
  .country-design h3, p{
    font-family: 'Lobster';
  }
  
  .country-design button{
    padding: 5px 20px;
    background: yellow;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-family: 'Lobster', cursive;
  }
  #country-detail h2{
    margin-top:10px;
  }
  #country-detail img{
    border: 2px solid #000;
    margin-top:10px;
  }